# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment
.env
.venv
env/
venv/
ENV/

# macOS
.DS_Store

# VS Code
.vscode/

# PyTorch and datasets
*.pt
*.pth
data/
datasets/

# Logs and outputs
*.log
logs/
output/
